<!-- ECOMERCE-->
<div>

    <form>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/articulo']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/grafica']">Top Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/registro-articulo']" >Nuevo Articulo</a>
            </li>
            <li class="nav-item">
    
                <a class="nav-link active" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </form>
    
    <router-outlet></router-outlet>
</div>